.wrapper {
  position: relative;
  height: 100%;
  padding: 1em 0.5em 1em;
  display: flex;
  flex-direction: column;
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .title {
    margin: 0 0 0.5em;
    font-weight: 700;
  }
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;

    .list {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
      row-gap: 0em;
      overflow-x: hidden;
      overflow-y: auto;
      background: #FFF;
      .empty {
        font-size: 1em;
        font-weight: 450;
        text-align: center;
      }
      .item {
        position: relative;
        z-index: 1;
        border-bottom: 1px solid #888888;
        padding: 0.5em 0.25em;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        column-gap: 1em;
        transition: 0.25s;
        &:hover {
          background: #9fbfdf;
          opacity: 0.9;
        }
        .image {
          position: relative;
          border-radius: 50%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          border-radius: 50%;
          width: 3.5em;
          height: 3.5em;
          .img {
            width: 3.5em;
            height: 3.5em;
            border-radius: 50%;
          }
        }
        .info {
          flex: 1;
          align-self: center;
          .name {
            font-weight: 700;
            color: #424242;
            margin: 0;
          }
          .age {
            color: #888888;
            font-weight: 450;
            opacity: 0.75;
            margin: 0;
          }
        }
      } 
      
    }
  }
}
